{% extends 'product/index.html' %}
{% load static %}
{% block title %}Оплата{% endblock %}

{% block content %}
<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
<script src="https://js.stripe.com/v3/"></script>

<div class="container">

  <section> 
    <div class="stripe_pk" id="stripe_pk" hidden>{{ STRIPE_PUBLIC_KEY }}</div>
    <div class="payment">
        <div class="item_name" id="item_name_">Название:{{ item.name }}</div>
        <div class="item_description">Описание: {{ item.description }}</div>
        <div class="item_price" id="price">Цена: {{ item.price }}</div>
        <div class="item_currency" id="currency">Оплата в валюте: {{ item.currency }}</div>
        {{ currency_form }}
        <button id="buy-button">Купить</button>

        {% csrf_token %}
    </div>
  </section>
</div>
<script tupe='text/javascript' src="{% static 'product/js/session_stripe.js' %}"></script>
{% endblock %}